body {
	font-family: Lato, sans-serif;
}
#erdebug {
    position: relative;
    border: 2px dashed red;
}

#erdingerKey {
    position: absolute;
    top: 20px;
    right: 50px;
}
#erdingerKey ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#erdingerKey .hasOne {
    color: #0BB;
}
#erdingerKey .hasMany {
    color: #11A;
}
#erdingerKey .hasHABTM {
    color: #F90;
}
#erdingerCanvas {
    width: 99%;
    margin: 30px auto;
    height: 600px;
    background-color: #EEE;
}
.erdingerClass {
    width: 200px;
    padding: 10px;
    outline: 1px solid #333;
    float: left;
    margin: 5px;
    background-color: #FFE;
    cursor: pointer;
    position: relative;
    font-size: 10px;
}
.erdingerClass h3 {
    margin: 0;
    padding: 0;
    font-size: 13px;
}
.erdingerClass p {
    margin: 0;
    padding: 2px 0;
}
.erdingerClass em {
    color: #555;
    padding-top: 5px;
}
.erdingerClass strong {
    color: #222;
    font-weight: normal;
    background-color: #CFB;
}